node_modules
**/node_modules
.git
.gitignore
.github
.next
**/.next
dist
**/dist
dist-test
**/dist-test
coverage
*.log
.env
.env.*
!.env.example
docs
README.md
*.md
*.pdf
mobile
plugins
services
examples
scripts
